@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'https://fonts.googleapis.com/css?family=Jost:300,400,700,800';

.font-jost{
  font-family: 'Jost', sans-serif;
}
.spinner {
  position: absolute;
  top: 1rem;
  right: 1rem;
  pointer-events: none;
}