@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'https://fonts.googleapis.com/css?family=Jost:300,400,700,800';

*{
  overflow-x: hidden;
}

.active{
  color: #fff;
}

.font-jost{
  font-family: 'Jost', sans-serif;
}
.spinner {
  position: absolute;
  top: 1rem;
  right: 1rem;
  pointer-events: none;
}

.loader {
  position: relative;
  border-top-color: #ed8936;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
  overflow: hidden;
}

@-webkit-keyframes loader {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#known-for{
  max-height: 300px;
  overflow: hidden;
}